<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label>Email:</label>
      <input formControlName="email" type="email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Enter a valid email.
      </div>
    </div>
    <div>
      <label>Password:</label>
      <input formControlName="password" type="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password must be at least 8 characters.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <button (click)="router.navigate(['/register'])">Not registered..? Register</button>
  </form>
  